{% extends 'base.html' %}

{%block title%}
add_client
{%endblock%}

{%block body%}


<div class="p-3 my-5 shadow-lg rounded-3">
    <h3 class="edit-profile-title text-center mb-5">Добавление клиента</h3>
    <form action="/add_client" class="mx-auto form-request" method="POST">
        <div class="add-client-container mx-auto">
            <div class="edit-info flex-grow-1">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <label for="surname-edit-profile">Фамилия: </label>
                        <input name="surname" type="text" class="form-control" id="surname-edit-profile"
                            aria-describedby="surname-edit-profile" placeholder="Введите фамилию" required>
                        <small id="surname-edit-profile" class="form-text text-muted">Например: Иванов</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <label for="name-edit-profile">Имя: </label>
                        <input name="name" type="text" class="form-control" id="name-edit-profile"
                            aria-describedby="name-edit-profile" placeholder="Введите имя" required>
                        <small id="name-edit-profile" class="form-text text-muted">Например: Иван</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <label for="patronymic-edit-profile">Отчество: </label>
                        <input name="patronymic" type="text" class="form-control" id="patronymic-edit-profile"
                            aria-describedby="patronymic-edit-profile" placeholder="Введите отчество">
                        <small id="patronymic-edit-profile" class="form-text text-muted">Например: Иванович</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <label for="phone-add-client">Номер телефона:</label>
                        <input name="phone" type="tel" class="form-control phone-field" id="phone-add-client"
                            aria-describedby="specialization-edit-profile" placeholder="Введите номер телефона"
                            required="true" minlength="10" required>
                        <small id="specialization-edit-profile" class="form-text text-muted">Например: +78005553535 или
                            88005553535</small>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mx-auto my-3">
                <button type="submit" class="btn btn-primary ">Добавить</button>
            </div>
    </form>
</div>

{% block javascript %}
<script type="text/javascript" src="../static/phone_valid.js"></script>
{%endblock%}

{%endblock%}