{% extends 'base.html' %}

{% block title %}
    add_admission
{% endblock %}

{% block body %}
    <div class="p-3 my-5 shadow-lg rounded-3">
        <h3 class="edit-profile-title text-center mb-5">Новый приём</h3>
        <form action="/add_admission/{{ animal_id }}" class="mx-auto" method="POST">
            <div class="form-group mb-2">
                <label for="diagnostic-textarea">Диагностические исследования</label>
                <textarea class="form-control" id="diagnostic-textarea" rows="3" placeholder="" name="research"></textarea>
            </div>
            <div class="form-group mb-2">
                <label for="description-textarea">Описание</label>
                <textarea class="form-control" id="description-textare" rows="3" placeholder="" name="description"></textarea>
            </div>
            <div class="form-group mb-2">
                <label for="diagnosis-textarea">Диагноз</label>
                <textarea class="form-control" id="diagnosis-textare" rows="1" placeholder="" name="diagnosis"></textarea>
            </div>
            <div class="form-group mb-5">
                <label for="recommendations-textarea">Рекомендации</label>
                <textarea class="form-control" id="recommendations-textare" rows="3" placeholder="" name="recommendation"></textarea>
            </div>
            <div class="d-flex justify-content-center mx-auto my-3">
                <button type="submit" class="btn btn-primary ">Добавить приём</button>
            </div>
        </form>
    </div>

{% endblock %}