{% extends 'base.html' %}

{%block title%} 
admissions
{%endblock%}

{%block body%}
<div class="list-receptions mt-5">
    <h3 class="list-title text-center">Приемы</h3>

    {% for reception in receptions %}
        <div class="d-flex flex-column">
            <a href="{{url_for('admission',reception_id = reception.reception.id)}}" class="library-a text-decoration-none text-reset">
                <div class="h-reception shadow p-3 rounded-3 m-3 ">
                    <div class="h-reception-container d-flex align-items-center">
                        <div class="h-reception-img rounded-2"></div>
                        <div class="h-reception-info   p-2 border border-2 rounded-2 flex-grow-1  ms-2">
                            <ul class="h-reception-ul ">
                                <li class="number-admission"> <h6 class="d-inline">Номер приема:</h6> <div class="text d-inline">{{reception.reception.id}}</div></li>
                                <li class="date-admission"> <h6 class="d-inline">Дата приема:</h6> <div class="text d-inline">{{reception.reception.date}}</div></li>
                                <li class="date-admission"> <h6 class="d-inline">Время приема:</h6> <div class="text d-inline">{{reception.reception.time}}</div></li>
                                <li class="doctor-admission"> <h6 class="d-inline">Ветврач:</h6> <div class="text d-inline">{{ reception.doctor.surname}} {{ reception.doctor.name }} {{ reception.doctor.patronymic }}</div></li>
                                <li class="diagnosis-admission"> <h6 class="d-inline">Диагноз:</h6> <div class="text d-inline">{{reception.reception.diagnosis}}</div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </a>
        
        </div>
    {% endfor %} 

    <a href="{{url_for('add_admission', animal_id=animal_id)}}" class="library-a text-decoration-none text-reset">
        <div class="btn-plus-reception shadow-sm bg-primary w-25 mx-auto rounded-3 d-flex py-1 my-5">
            <img src="../static/icons/plus.svg"  class="img-plus-reception">
            <div class="text-nowrap text-center flex-grow-1 align-self-center text-light">Новый приём</div>
        </div>
    </a>
</div>
{%endblock%}