{% extends 'base.html' %}

{%block title%} 
library animals
{%endblock%}

{%block body%}
<div class="list-receptions mt-5">
    <div class="animals-header m-3 mb-5 shadow p-3 rounded-3 ">
        <div class="client-header d-flex justify-content-between flex-wrap mb-3">
            <h3 class="list-title text-center">Информация о клиенте</h3>
            <form action="/alm_animals" method="post">
                <button type="submit" class="btn btn-warning">Удалить клиента</button>
            </form>
        </div>
        <div class="animals-owner">
            <!-- вставь сюда ФИО владельца -->
            <h6>ФИО: Мартыненко Владимир Александрович</h6> 
            <h6>Номер телефона: +79991382501</h6> 
        </div>
    </div>
    <h3 class="list-title text-center">Животные</h3>
    {% for animal in animals %}
        <div class="d-flex flex-column">
            <a href="{{url_for('admissions',animal_id=animal.id)}}" class="library-a text-decoration-none text-reset">
                <div class="h-reception shadow p-3 rounded-3 m-3 ">
                    <div class="h-reception-container d-flex align-items-center">
                        <div class="h-reception-img rounded-2"></div>
                        <div class="h-reception-info   p-2 border border-2 rounded-2 flex-grow-1  ms-2">
                            <ul class="h-reception-ul ">
                                <li class="type-zoo"> <h6 class="d-inline">Вид:</h6> <div class="text d-inline">{{animal.type}}</div></li>
                                <li class="type-breed"> <h6 class="d-inline">Порода:</h6> <div class="text d-inline">{{animal.breed}}</div></li>
                                <li class="type-color"> <h6 class="d-inline">Окрас:</h6> <div class="text d-inline">{{animal.color}}</div></li>
                                <li class="age-zoo"> <h6 class="d-inline">Возраст:</h6> <div class="text d-inline">{{animal.age}}</div></li>
                                <li class="gender-zoo"> <h6 class="d-inline">Пол:</h6> <div class="text d-inline">{{animal.gender}}</div></li>
                                <li class="name-zoo"> <h6 class="d-inline">Кличка:</h6> <div class="text d-inline">{{animal.nickname}}</div></li>
                                <li class="сounter-zoo"> <h6 class="d-inline">Количество посещений:</h6> <div class="text d-inline">{{animal.receptions_number}}</div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </a>
        
        </div>
    {% endfor %} 

    <a href="{{url_for('add_animal')}}" class="library-a text-decoration-none text-reset">
        <div class="btn-plus-reception shadow-sm bg-primary w-25 mx-auto rounded-3 d-flex py-1 my-5">
            <img src="../static/icons/plus.svg"  class="img-plus-reception">
            <div class="text-nowrap text-center flex-grow-1 align-self-center text-light">Добавить животное</div>
        </div>
    </a>
</div>
{%endblock%}
