{% extends 'base.html' %}

{%block title%} 
library
{%endblock%}

{%block body%}



<div class="list-receptions mt-5">
    <h3 class="list-title text-center">Клиенты</h3>

    <div class="library-header-btn d-flex justify-content-between mx-3">
        <button type="button" class="btn btn-primary"><a href="{{url_for('search', searcher='', status='start')}}">Поиск</a></button>
        <form action="/alm_library" method="post">
            <button type="submit" class="btn btn-warning">Удалить всех клиентов</button>
        </form>
    </div>
    
    {% for person in persons %}
        <div class="d-flex flex-column">
            <a href="{{url_for('alm_animals', id = person.id)}}" class="library-a text-decoration-none text-reset">
                <div class="h-reception shadow p-3 rounded-3 m-3 ">
                    <div class="h-reception-container d-flex align-items-center">
                        <div class="h-reception-info   p-2 border border-2 rounded-2 flex-grow-1">
                            <ul class="h-reception-ul ">
                                <li class="full-name"> <h6 class="d-inline">ФИО:</h6> <div class="text d-inline">{{person.surname}}  {{person.name}} {{person.patronymic}}</div></li>
                                <li class="phone"> <h6 class="d-inline">Номер телефона:</h6> <div class="text d-inline">+7{{person.phone_number}}</div></li>
                                <li class="receptions_number"> <h6 class="d-inline">Количество посещений:</h6> <div class="text d-inline">{{person.receptions_number}}</div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </a>
        
        </div>
    {% endfor %} 
</div>
<a href="{{url_for('add_client')}}" class="library-a text-decoration-none text-reset">
    <div class="btn-plus-reception shadow-sm bg-primary w-25 mx-auto rounded-3 d-flex py-1 my-5">
        <img src="../static/icons/plus.svg"  class="img-plus-reception">
        <div class="text-nowrap text-center flex-grow-1 align-self-center text-light">Добавить клиента</div>
    </div>
</a>
{%endblock%}