{% extends 'base.html' %}

{%block title%} 
 {{doctor.id}}
{%endblock%}

{%block body%}
<div class="profile p-3 mt-5 shadow-lg rounded-3">
    <div class="profile-header d-flex justify-content-between mb-2">
        <h3 class="profile-title">Личная информация</h3>
        <button type="button" class="btn btn-secondary profile-btn-edit align-self-start"> <a href="{{url_for('edit_profile')}}">Изменить</a> </button>
    </div>
    
    <div class="profile-container d-flex bg-light bg-gradient">
        <div class="profile-img rounded-2"></div>
        <div class="profile-info ms-3 p-2 border border-2 rounded-2 flex-grow-1">
            <ul class="profile-ul">
                <li class="full-name"> <h6 class="d-inline">ФИО:</h6> <div class="text d-inline">{{doctor.full_name}}</div></li>
                <li class="specialization"> <h6 class="d-inline">специальность:</h6> <div class="text d-inline">{{doctor.specialization}}</div></li>
                <li class="count-reception"><h6 class="d-inline"> количество приёмов:</h6> <div class="text d-inline">{{doctor.count_admissions}}</div> </li>
                <li class="about-me"><h6 class="d-inline">о себе:</h6> <div class="text d-inline">{{doctor.about}}</div> </li>
            </ul>
        </div>
    </div>
</div>
<div class="list-receptions mt-5">
    <h3 class="list-title text-center">Последние приёмы</h3>
    <div class="d-flex flex-column">

        <div class="h-reception shadow p-3 rounded-3 m-3 ">
            <div class="h-reception-container d-flex align-items-center">
                <div class="h-reception-img rounded-2"></div>
                <div class="h-reception-info  ms-3 p-2 border border-2 rounded-2 flex-grow-1 ">
                    <ul class="h-reception-ul ">
                        <li class="phone"> <h6 class="d-inline">номер телефона клиента:</h6> <div class="text d-inline">+79991382501</div></li>
                        <li class="creature"> <h6 class="d-inline">животное:</h6> <div class="text d-inline">собака</div></li>
                        <li class="gender"><h6 class="d-inline">пол:</h6> <div class="text d-inline">женский</div></li>
                        <li class="purpose"><h6 class="d-inline">цель визита:</h6> <div class="text d-inline">консультация</div></li>
                    </ul>
                </div>
                <div class=" btn-h-about bg-secondary bg-gradient align-self-stretch">
                    <div class="label-about vertical-text"> <a href="{{url_for('admission')}}"> Подробнее</a></div>
                </div>
            </div>
        </div>

        <div class="h-reception shadow p-3 rounded-3 m-3">
            <div class="h-reception-container d-flex align-items-center">
                <div class="h-reception-img rounded-2"></div>
                <div class="h-reception-info  ms-3 p-2 border border-2 rounded-2 flex-grow-1 ">
                    <ul class="h-reception-ul ">
                        <li class="phone"> <h6 class="d-inline">номер телефона клиента:</h6> <div class="text d-inline">+79991382501</div></li>
                        <li class="creature"> <h6 class="d-inline">животное:</h6> <div class="text d-inline">собака</div></li>
                        <li class="gender"><h6 class="d-inline">пол:</h6> <div class="text d-inline">женский</div></li>
                        <li class="purpose"><h6 class="d-inline">цель визита:</h6> <div class="text d-inline">консультация</div></li>
                    </ul>
                </div>
                <div class=" btn-h-about bg-secondary bg-gradient align-self-stretch">
                    <div class="label-about vertical-text">Подробнее</div>
                </div>
            </div>
        </div>

        <div class="h-reception shadow p-3 rounded-3 m-3">
            <div class="h-reception-container d-flex align-items-center">
                <div class="h-reception-img rounded-2"></div>
                <div class="h-reception-info  ms-3 p-2 border border-2 rounded-2 flex-grow-1 ">
                    <ul class="h-reception-ul ">
                        <li class="phone"> <h6 class="d-inline">номер телефона клиента:</h6> <div class="text d-inline">+79991382501</div></li>
                        <li class="creature"> <h6 class="d-inline">животное:</h6> <div class="text d-inline">собака</div></li>
                        <li class="gender"><h6 class="d-inline">пол:</h6> <div class="text d-inline">женский</div></li>
                        <li class="purpose"><h6 class="d-inline">цель визита:</h6> <div class="text d-inline">консультация</div></li>
                    </ul>
                </div>
                <div class=" btn-h-about bg-secondary bg-gradient align-self-stretch">
                    <div class="label-about vertical-text">Подробнее</div>
                </div>
            </div>
        </div>
        
    </div>

</div>

<div class="btn-plus-reception shadow-sm bg-secondary bg-gradient">
    <img src="../static/icons/plus.svg"  class="img-plus-reception">
    <div class="label-plus-reception"> <a href="{{url_for('add_admission')}}">Добавить приём</a></div>
</div>

{%endblock%}