{% extends 'base.html' %}

{%block title%}
 {{doctor.id}}
{%endblock%}

{%block body%}
<div class="profile p-3 mt-5 shadow-lg rounded-3">
    <div class="profile-header d-flex justify-content-between mb-2">
        <h3 class="profile-title flex-grow-1">Личная информация</h3>
        {%if doctor.phone_number == '0' %}
        <a href="{{url_for('super_doctor')}}" class="btn btn-warning profile-btn-edit align-self-start me-2">Секретная кнопка</a>
        {%endif%}
        <a href="{{url_for('edit_profile')}}" class="btn btn-warning profile-btn-edit align-self-start">Изменить</a>
    </div>

    <div class="profile-container d-flex bg-light bg-gradient">
        <div class="profile-img rounded-2"><img src="../static/icons/noavatar.jpeg" class="img-avatar" alt=""></div>
        <div class="profile-info ms-3 p-2 border border-2 rounded-2 flex-grow-1">
            <ul class="profile-ul">
                <li class="full-name"> <h6 class="d-inline">ФИО:</h6> <div class="text d-inline">{{doctor.surname}} {{doctor.name}} {{doctor.patronymic}}</div></li>
                <li class="specialization"> <h6 class="d-inline">Специальность:</h6> <div class="text d-inline">{{doctor.qualification}}</div></li>
                <li class="count-reception"><h6 class="d-inline"> Количество приёмов:</h6> <div class="text d-inline">{{doctor.receptions_number}}</div> </li>
{#                <li class="about-me"><h6 class="d-inline">о себе:</h6> <div class="text d-inline">empty</div> </li>#}
            </ul>
        </div>
    </div>
</div>
<div class="list-receptions mt-5">
    <h3 class="list-title text-center">Последние приёмы</h3>
    <div class="d-flex flex-column">
    {% for reception in receptions %}
    <a href="/admission/{{reception.reception.id}}" class="library-a text-decoration-none text-reset">
        <div class="h-reception shadow p-3 rounded-3 m-3 ">
                <div class="h-reception-container d-flex align-items-center">
                    <div class="profile-img rounded-2"><img src="../static/icons/noavatarzoo.jpeg" class="img-avatar" alt=""></div>
                    <div class="h-reception-info  ms-3 p-2 border border-2 rounded-2 flex-grow-1 ">
                        <ul class="h-reception-ul ">
                            <li class="reception-number"> <h6 class="d-inline">Номер приема:</h6> <div class="text d-inline">{{ reception.reception.id }}</div></li>
                            <li class="name"> <h6 class="d-inline">ФИО клиента:</h6> <div class="text d-inline">
                                {{ reception.client.surname }} {{ reception.client.name }} {{ reception.client.patronymic }}</div></li>
                            <li class="phone"> <h6 class="d-inline">Номер телефона клиента:</h6> <div class="text d-inline">+7{{ reception.client.phone_number }}</div></li>
                            <li class="creature"> <h6 class="d-inline">Вид животного:</h6> <div class="text d-inline">{{ reception.animal.type }}</div></li>
                            <li class="gender"><h6 class="d-inline">Пол животного:</h6> <div class="text d-inline">{{ reception.animal.gender }}</div></li>
                            <li class="purpose"><h6 class="d-inline">Диагноз: </h6> <div class="text d-inline">{{ reception.reception.diagnosis }}</div></li>
                            <li class="date"> <h6 class="d-inline">Дата:</h6> <div class="text d-inline">{{ reception.reception.date }}</div></li>
                        </ul>
                    </div>
                </div>
        </div>
    </a>
    {% endfor %}
    </div>
</div>


{%endblock%}